# ==========================================
# Python 3.11
# ==========================================

# FastAPI
fastapi
uvicorn[standard]
python-multipart

# OCR
paddlepaddle==3.1.1
paddleocr==3.7.0
pymupdf

# Vector Database
faiss-cpu

# Embeddings
sentence-transformers

# LangChain
langchain
langchain-community
langchain-text-splitters
langchain-huggingface

# LLM
unsloth

# Common packages
numpy<2
pandas
pillow
opencv-python
scikit-learn
tqdm
requests
